<a href="https://colab.research.google.com/github/victornietol/EstructuraDatos_1358/blob/master/ADTArray2d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
class Array2d():
  def __init__(self, ren, col):
    self.__ren = ren
    self.__col = col
    self.__data = [[' ' for x in range(self.__col)] for x in range(self.__ren)]
  
  def clear(self, dato):
    self.__data = [[dato for x in range(self.__col)] for x in range(self.__ren)]

  def get_row_size(self):
    return self.__ren

  def get_col_size(self):
    return self.__col

  def set_item(self, ren, col, dato):
    self.__data[ren][col] = dato

  def get_item(self, ren, col):
    return self.__data[ren][col]

  def to_string(self):
    for i in range(self.__ren):
        print(self.__data[i])

In [13]:
class Alumno():
  def __init__(self, nombre, edad, escuela):
    self.__nombre = nombre
    self.__edad = edad
    self.__escuela = escuela

  def get_nombre(self):
    return self.__nombre

  def set_nombre(self, dato):
    self.__edad = dato

  def get_edad(self):
    return self.__edad

  def set_edad(self, dato):
    self.__edad = dato

  def get_escuela(self):
    return self.__escuela

  def set_escuela(self, dato):
    self.__escuela = dato

  def to_string(self):
    return f"Nombre: {self.__nombre}, Edad: {self.__edad}, Escuela: {self.__escuela}"

In [54]:
#Pruebas
example1 = Array2d(3,4)
example1.to_string()
print("----------------------------------------------")
print(example1.get_row_size())
print(example1.get_col_size())
print("----------------------------------------------")
example1.set_item(1,0,17)
example1.set_item(0,2,Alumno("David",20,"Facultad"))
example1.set_item(1,3,"Nuevo dato")
example1.to_string()
print(example1.get_item(0,2))
print("----------------------------------------------")
example1.clear("None")
example1.to_string()

[' ', ' ', ' ', ' ']
[' ', ' ', ' ', ' ']
[' ', ' ', ' ', ' ']
----------------------------------------------
3
4
----------------------------------------------
[' ', ' ', <__main__.Alumno object at 0x7f3607ecf490>, ' ']
[17, ' ', ' ', 'Nuevo dato']
[' ', ' ', ' ', ' ']
<__main__.Alumno object at 0x7f3607ecf490>
----------------------------------------------
['None', 'None', 'None', 'None']
['None', 'None', 'None', 'None']
['None', 'None', 'None', 'None']